<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declutter</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="content">
        <h1>Declutter Your Photo Library</h1>
        {% if photo %}
        <div class="info">
            <h2>{{ photo_name }}</h2>
            <h3>{{ photo_album }}, {{photo_size}} MB</h3>
            <div class="img-container" id="imageContainer">
                <img src="{{ url_for('static', filename='images/' + photo) }}" alt="Photo" id="photoImage"
                    onclick="rotateImage()">
            </div>
        </div>
        <form action="{{ url_for('swipe') }}" method="post">
            <button type="button" onclick="rotateImage()">Rotate</button>
            <button name="action" value="left">Delete</button>
            <button name="action" value="right">Accept</button>
            <button name="action" value="top">Favorite</button>
            <input type="hidden" name="photo_id" value="{{ photo }}">
        </form>
        {% else %}
        <p>No photos to display.</p>
        {% endif %}
    </div>
    <script>
        let angle = 0; // Initial angle
        function rotateImage() {
            const img = document.getElementById('photoImage');
            const container = document.getElementById('imageContainer');
            angle = (angle + 90) % 360; // Increase the angle by 90 degrees and wrap around at 360
            img.style.transform = `rotate(${angle}deg)`; // Apply the rotation

            // Check the orientation and adjust the container size dynamically
            const isPortrait = angle % 180 !== 0;
            container.style.maxWidth = isPortrait ? '75vh' : '90vw';
            container.style.maxHeight = isPortrait ? '90vw' : '75vh';
        }
    </script>
    <script>
    </script>
</body>

</html>